@import 'src/styles/utils';

.ranking-item {
  display: flex;
  justify-content: left;
  margin-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 0.8px solid $oc-gray-3;
  .ranking-index {
    font-size: 1rem;
  }
  .ranking-img {
    width: 5rem;
    height: 5rem;
    border-radius: 10px;
  }
  .ranking-info {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .ranking-name {

    }
    .ranking-description {
      color: $oc-gray-5;
    }
  }
}

