@import 'src/styles/utils';

.header {
  //background: $oc-gray-3;
  background: linear-gradient(to right, $oc-gray-3, $oc-gray-1);
  .header-content {
    height: 5rem;
    width: 1400px;
    margin: 0 auto;
    padding-left: 3rem;
    padding-right: 3rem;
    display: flex;
    align-items: center;
    @include media('<wide') {
      width: 100%;
    }
    @include media('<medium') {
      padding-left: 1rem;
      padding-right: 1rem;
    }
    .logo {
      .logo-link {
          .logo-img {
            @include media('<large') {
                width: 1.5rem;
            }
            @include media('>large') {
                width: 2rem;
            }
          }
          .logo-type {
            @include media('<large') {
                width: 3.5rem;
                margin-left: 0.2rem;
            }
            @include media('>large') {
                width: 5rem;
                margin-left: 0.6rem;
            }
          }
      }
    }
    .right {
      margin-left: auto;
      @include media('>large') {
        font-size: 1.3rem;
      }
      @include media('<large') {
        font-size: 1rem;
      }
    }
  }
}

