@import 'src/styles/utils';

$variable-width: calc(100vw / 3);

.grid-thirds {
  display: flex;
  justify-content: space-between;
  height: $variable-width;
}

@include media('<medium') {
  .grid-thirds {
    display: flex;
    justify-content: space-between;
    .col {
      width: $variable-width;
      height: $variable-width;
      //min-height: calc(100vh - 5rem);
      margin: 0 0 0 0;
      border: 0.5px solid white;
    }
  }
}

.col {
  //background: salmon;
  padding: 0px;
}