@import 'src/styles/utils';

//$variable-width: calc(100vw / 3);
$variable-width: 32.5%;

.grid-thirds {
  max-width: 100% !important;
  display: flex;
  justify-content: space-between;
  .col {
    max-width: 100% !important;
    width: $variable-width;
    height: $variable-width;
    margin: 0.125rem 0.1rem 0.125rem 0.1rem;
    @include media('>large') {
        margin: 0.35rem 0 0.35rem 0;
    }
  }
}
.list-con {
  max-width: 100% !important;
}
